;The configure file for DataProcess
; �滻 trafficTest Ϊ traffic
[DIR]
;The directory of Input Txt file
;N:\2015-11-01-Research-experiment\TxtTrafficData
InputDir = N:/2015-11-01-Research-experiment/traffic/TxtTrafficData

;The directory of Database of Normal Packet
NormalDir = /0/

;The directory of Database of Normal Packet
InfectDir = /1/

;The directory of Output CSV file
OutputDir = N:/2015-11-01-Research-experiment/traffic/CsvTrafficData/

;The directory of Report
ReportDir = N:/2015-11-01-Research-experiment/traffic/TrafficAnalysis/

;Normal Database
;NormalDB = H:/Dropbox/[1]CITY_Research/1_MalwareLab/5_NormalPacketDatabase/
NormalDB = N:/2015-11-01-Research-experiment/traffic/NormalPacketDatabase/

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


